<div id="<%= dom_id tweet %>">
  <div class="tweetviews">
    <p>
      <strong>タイトル:</strong>
      <%= tweet.title %>
    </p>

    <p>
      <strong>投稿:</strong>
      <%= tweet.content %>
    </p>

  </div>

</div>
