<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>ホビー投稿一覧</title>
    </head>
        <body>
            <h1>シェアホビ</h1>

            <div class="before_login">
                <p>このアプリは<span>「島大生が趣味を共有できるアプリ」</span>です．<br>まずはログインしてください．</p>

                <strong>ログインに必要なもの</strong>
                <ul class="before_login_ul">
                    <li>学生番号 </li>
                    <li>パスワード </li>
                </ul>

                <br>
                <%= link_to "クリックしてログイン画面へ", login_path %>
            </div class>
        </body>
</html>