<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>ホビー投稿一覧</title>
        <%= stylesheet_link_tag 'choice', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <h1>シェアホビ</h1>
        <div class="all">
            <h2>Home > ホビー投稿一覧</h2>
            <div class="a2">
                サッカー⚽(ユーザー〇人)
            </div>
            
        </div>
        <button type="button" onclick="location.href='<%= home_path %>'">
        ホームへ
    </body>
</html>
