<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>сЃЏсЃЊсЃ╝ТіЋуе┐СИђУдД</title>
        <%= stylesheet_link_tag 'choice', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <h1>сѓисѓДсѓбсЃЏсЃЊ</h1>
        <div class="all">
            <h2>Home > сЃЏсЃЊсЃ╝ТіЋуе┐СИђУдД</h2>
            <div class="a2">
                сЃєсЃІсѓ╣­ЪјЙ(сЃдсЃ╝сѓХсЃ╝сђЄС║║)
            </div>
            
        </div>
        <button type="button" onclick="location.href='<%= home_path %>'">
        сЃЏсЃ╝сЃасЂИ
    </body>
</html>
