
<h1>シェアホビのhome画面</h1>

<p>ここにユーザ登録の欄や表示する趣味を選択する欄が出る</p>

<% # ボタンの作成、home.html.erbへの移動 %>
<button type="button" onclick="location.href='<%= home_path %>'">
    ホームへ
</button>

<% if false %>
<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p> --->
<% end %>