<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>投稿一覧</title>
    </head>
    <body>
        <h1>シェアホビ</h1>
        
        <div class="menuall">
            <span class="menuhome"><%= link_to "Home", home_path %></span>
            <span> > </span>
            <span class="blue">ホビー投稿一覧</span>
        </div>

        <button type="button" onclick="location.href='<%= home_path %>'" class="custom-buttonview">
            新規投稿作成
        </button>
        <div class="hobby1">
            <p>投稿者のユーザー名
            <br>
            投稿のコメント（出来れば写真付き）</p>
        </div>
        <div class="hobby2">
            <p>投稿者のユーザー名
            <br>
            投稿のコメント（出来れば写真付き）</p>
        </div>
        <div class="hobby3">
            <p>投稿者のユーザー名
            <br>
            投稿のコメント（出来れば写真付き）</p>
        </div>    
    </body>
</html>